.nav-bar{
  $logo-size: 140px;
  $section-padding: 15px;
  animation-duration:400ms !important;
  background-color:white;
  box-sizing:border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow:0 2px 2px rgba(0, 0, 0, 0.2);
  transition:all 500ms ease;
  padding: $section-padding;
  border-bottom: 1px solid #E5E5E5;

  .container {
    width: 100%;
    padding: 0 $main-padding * 0.25;

    @media (min-width: $screen-tablet) {
      padding: 0 $main-padding * 0.5;
    }

    @media (min-width: $screen-desktop) {
      padding: 0 $main-padding * 0.8;
    }
    @media (min-width: $screen-lg-desktop) {
      padding: 0 $main-padding;
    }
  }

  &--active {
    color: $web-color;
  }

  &--fixed {
      position: fixed;
      z-index: 99;
      right: 0;
      left: 0;
      top: 0;
  }

  &.headroom--not-top {
    .nav-bar__second-line, .nav-bar__first-line__logo__name {
      display: none;
    }
    .nav-bar__first-line__logo__menu {
      display: inline-block;
    }
    .nav-bar__first-line__login__button {
      background: white;
      padding: 0;
      &:hover {
        color: $web-color;
      }
      span {
        display: none;
      }
      .icon--circle {
        display: inline-block;
        font-size: 20px;
        background-color: $very-light-gray;
        border-color: $very-light-gray;
        padding:0.45em;
      }
      .icon--button {
        display: none;
      }
    }
  }

  &__first-line {
    overflow: auto;

    &__logo {
      padding: 0;
      &__img {
        float: left;
        width: 90%;
        @media (min-width: $screen-tablet) {
          width: $logo-size * 0.8;
        }

        @media (min-width: $screen-desktop) {
          width: $logo-size;
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    &__menu {
      font-weight: bold;
      padding:0;
      margin-top: 0;
      font-size: 10px;
      @media (min-width: $screen-phone) {
        //margin-top: 20px;
        font-size: 14px;
      }
      @media (min-width: $screen-tablet) {
        //margin-top: 20px;
      }
      @media (min-width: $screen-lg-desktop) {
        margin-top: 20px;
        font-size: 16px;
      }
      @media (min-width: $screen-very-lg-desktop) {
        margin-top: 30px;
      }
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
          display: inline-block;
          line-height: 16px;
          width: 100px;
          @media (min-width: $screen-phone) {
            width: 140px;
          }
          @media (min-width: $screen-tablet) {
            //margin-right: 30px;
          }
          @media (min-width: $screen-lg-desktop) {
            //margin-right: 80px;
            width: 200px;
          }
          @media (min-width: $screen-very-lg-desktop) {
            margin-top: 30px;
            width: auto;
            margin-right: 80px;
          }
          &:nth-last-child(1) {
            //margin-right: 0;
          }
          a {
            text-transform: uppercase;
            text-decoration: none;
            color: black;

            &:hover {
              color: $web-color;
            }
          }
        }
      }
    }
  }
}