.container
  .row
    .nav-bar__first-line
      .nav-bar__first-line__logo.col-xs-3
        .nav-bar__first-line__logo__img
          a(href="/")
            img(src="/assets/images/logo.png" alt="")
      .nav-bar__first-line__menu.col-xs-9
        ul
          li
            a(href="/")
              span(ng-class="{'nav-bar--active': isActive('home')}") Giới thiệu
          li
            a(href="#") Sứ giả
          li
            a(href="#") Khóa học
          li
            a(href="#") Tin Tức
          li
            a(href="#") Liên hệ