section.spotlight(style="background-image: url(/assets/images/home/spotlight.jpg);")
  .spotlight__content
    .spotlight__content__box
      h1.spotlight__content__box__text Xin chào, Chúng tôi là iliat